<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
        <p>
          <%= message %>
        </p>
        <% if message == "You got it right!" %>
          <p>
            The SECRET NUMBER is <%= number %>
          </p>
        <% end %>
    </form>
  </body>
</html>
