<html>
  <head>
    <% if message == "Way too high!" || message == "Way too low!" %>
      <style>
        body {
          background: red;
        }
      </style>
    <% elsif message == "Too high!" || message == "Too low!" %>
      <style>
        body {
          background: #FC8FA6;
        }
      </style>
    <% else %>
      <style>
        body {
          background: #22F00D;
        }
      </style>
    <% end %>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
        <p>
          <%= message %>
        </p>
        <% if message == "You got it right!" %>
          <p>
            The SECRET NUMBER is <%= number %>
          </p>
        <% end %>
    </form>
  </body>
</html>
